@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  #171717;
    color: white;
    font-family: "DM Sans", sans-serif;
}

/* common css start  */
.container{
    max-width: 1280px;
    margin: 0 auto;
}
/* common css start  */

/* nav  */
.faBar{
    display: none;
}
.fa-bars{
    font-size: 24px ;
    color: white;
}
.menuShow{
    display: none;
}
nav {
    padding: 20px 0px;
}

.navFlex{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    gap: 60px;
}
.menu li {
    list-style: none;
}
.menu li a{
    color: white;
    text-decoration: none;
}
.menuOpen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
.aboutFlex{
    display: flex;
    justify-content: space-between;
}
/* Banner part */
.Banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Banner h1{
    font-size: 48px;
    font-weight: 700;
    color: white;
}
.Banner h3{
   font-size: 18px;
   color: #828282;
   margin-top: 10px;
}
.image img{
    height: 650px;
    /* width: 650px; */
    max-width: 100%;
    border-radius: 100%;
}
.banBtn{
    display: flex;
    gap: 15px;
}
.Button1{
 background-color: #27AE60;
 color: white;
 width: 143px;
 height: 42px;
}
.Button2{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    width: 143px;
    height: 42px;    
}
button{
    border: none;
}
/* About Part */
.About {
    text-align: center;
}
.About p{
    max-width: 745px; 
    /* top: 984px; */
    margin: 0 auto;
    font-size: 18px;  
}

/* Circle part */
.card{
    width: 175px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.circle{
    width: 62px;
    height: 62px;
    background-color: #212121;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    margin: 0;
}
h5{
    margin: 0;
}
.circle div{
    width: 12px;
    height: 12px;
    background-color: #27AE60;
    border-radius: 100%;
}
.mr{
    text-align: center;
}
/* What I Do Part */
.what h2{
    text-align: center;
    font-size: 48px;    
}
.sofwareWeb{
    display: flex;
    justify-content: space-between;
}
.vector h3 {
    font-size: 32px;
    color: #535353;
    margin-top: 30px;
}
.vector{
    width: 350px;
    height: 240px; 
    background-color: #212121;   
}
.vector div{
    padding: 35px 50px;
}

/* My Skills */
.skills h2{
    text-align: center;
    font-size: 48px;
}
.parcentage{
    width: 100%;
    height: 235px;
    background-color: #212121; 
    display: flex;
    justify-content: center;
    align-items: center; 
}
.skillsFlex{
   display: flex;  
   justify-content: center;
   gap: 121px;
   align-items: center;
   margin: 58px 0 ;
}
.skillsFlex div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.parcentage h3{
    font-size: 72px;
    color: #4f4f4f;    
}
.parcentage P{
    font-size: 24px;
    color: #27AE60;
    margin: 0;
    margin-top: 20px;   
}
.fiftyParcent{
    display: flex !important;
    gap: 20px;
    flex-direction: row !important;
}
.twentyParcent{
    display: flex !important;
    gap: 20px;
    flex-direction: row !important;
}
.tenParcent{
    display: flex !important;
    gap: 20px;
    flex-direction: row !important;
}
.twoParcent{
    display: flex !important;
    gap: 20px;
    flex-direction: row !important;
}

/* Get in touch */
section{
    padding: 50px 0;
}
h2{
   text-align: center;
   font-size: 48px; 
}

.formFlex{
    display: flex;
    justify-content: center;
}
.formFlex input{
    border: none;
    outline: none;
    color: #4f4f4f;
    border-bottom: 2px solid whitesmoke;
}
 input
     {
      background-color: transparent;
      border: 1px solid #2e2e2e;
      border-radius: 4px;
      width: 355px;
      font-size: 14px;
      
    }

textarea{
    margin-top: 45px;
    width: 750px;
    height: 110px;
    background-color: #171717;

    }

.btn-container {
      text-align: center;
      margin-top: 10px;
    }

    button {
      background-color: #21a14b;
      border: none;
      color: white;
      padding: 10px 25px;
      font-size: 15px;
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.3s;
      margin-top: 30px;
    }

    button:hover {
      background-color: #178a3e;
    }
    h6{
       color: #4f4f4f;
       text-align: center;
       margin-top: 160px;
       font-size: 14px;
    }
.lastName{
    display: flex;
    gap: 30px;
}
.Email{
    padding-top: 40px;
}
.Error{
    text-align: center;
    padding: 40px 0;
    color: red;
    font-size: 24px;

}